.hinav {
  width:1024px;
}

/************  Navigation bar *******/

$menu_item_width: 120px;
$menu_item_height: 150px;

#bread_crumb_wrapper {
  position: block;
  display: fixed;
  top: 200px;
  background-color: white;
  width: 100%;
  margin: 0 auto;
  height: auto;
  z-index: 7000;

  #bread_crumb {
    display: block;
    position: relative;
    float: left;
  }

}

#navigation_wrapper {
  background-color: #65C400;
  position: relative;
  float: left;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 10px;
  width: 100%;
  height: 120px;
  text-align: center;
}

ul.navigation {
  position: relative;
  display: block;
  margin-top: 0;
  width: 100%;
  height: auto;
  max-width: 1024px;
  min-width: 768px;
  list-style-type: none;
  height: $menu_item_height;

}

li.nav_logo {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  display: inline-block;
  float: left;
  width: 200px;
  height:$menu_item_height;
  display:table-cell;
  vertical-align:bottom;
  text-align: center;
}



#logo_img {
    width:auto;
    height:120px;
  cursor: pointer;
}




li.nav_user_type {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  width: 300px;
  height:$menu_item_height;
  display:inline-block;
  vertical-align:text-bottom;
  text-align: center;
  // background-color: #0000f6;
}

li.nav_item {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  float: right;
  top: 50%;
  width: $menu_item_width;
  height:$menu_item_height;
  background-color: #008800;
  display:inline-block;
  text-align: center;
}

#usertype_text {
  position: relative;
  margin-top: 70px;
}

#opsumit_menu {
  margin-top: 37%;
}

$menu_item_width: 100px;

.menu_item {
  position: absolute;
  bottom: 0;
  width: $menu_item_width;
  height: 100px;
  display:table-cell;
  vertical-align:bottom;
}

.menu_icon {
  background-color: red;
  width: $menu_item_width;;
  height:100%;
  max-height: 50px;
  text-align: center;
}

.menu_text {
  background-color: green;
  width: $menu_item_width;
  height:auto;
  text-align: center;
  font-size: 1.5rem;
  font-family: Opsumit-Bold;
}


#search_share_nav {
  position: fixed;
  background-color: #65C400;
  display: block;
  z-index: 2000;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 26px;
  max-width: 1024px;
  min-width: 460px;
  background-image: url("../images/search_share_nav_bg.jpg");

  background-size: 1024px 26px;
  -moz-background-size: 1024px 26px;

  background-repeat: no-repeat;
 //  background-attachment: fixed;
  background-position: center top;
}

#share_bar_wrapper
{
  position: fixed;
  display: block;
  z-index: 2000;
  top: 0px;
  margin: 0;
  padding: 0;
  background-color: #636363;
  width: 100%;
  height: 26px;
  text-align: center;
  #share_bar_left {
    margin: 0;
    padding: 0;
    background-color: #5862a9;
    width: 30%;
    height: 26px;
    position: relative;
    float: left;

    #share_divider {
      margin: 0;
      padding: 0;
      width: 102px;
      height: 26px;
      background-image: url("../images/search_bar_divider.png");
      background-size: 102px 26px;
      -moz-background-size: 102px 26px;
      position: relative;
      float: right;
      display: inline-block;
      height: 26px;
    }
  }
}


/************  end navigation ********/


.navigation_outer {
  position: fixed;
  width: 100%;
  height: 150px;
  top: 26px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  z-index: 500;
  margin: 0 auto;
}


.navigation_inner {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 1024px;
  height: 120px;
  margin: 0;
  padding: 0px;
}

ul.navigation li.nav_rems, ul.navigation li.nav_register, ul.navigation li.nav_menu {
  position:relative;
  float: right;
  margin: 0;
  padding: 0;
}

ul.navigation li.nav_rems {
  width: 130px;
  height: 120px;
  background-image: url("../images/menu_rems_SH.png");
  background-size: 130px 240px;
  -moz-background-size: 130px 240px;
  background-position: 0px 0px;

}

ul.navigation li.nav_register {
  width: 86px;
  height:120px;
  background-image: url("../images/menu_register_sh.png");
  background-size: 86px 240px;
  -moz-background-size: 86px 240px;
  background-position: 0px 0px;
}

ul.navigation li.nav_menu {
  width: 62px;
  height:120px;
  background-image: url("../images/menu_SH.png");
  background-size: 62px 240px;
  -moz-background-size: 62px 240px;
  background-position: 0px 0px;
}

.overstate {
  background-position-y: 120px;
}


ul li.nav_rems:hover {
  background-position: 0px 120px;
}

ul li.nav_register:hover {
  background-position: 0px 119px;
}

ul li.nav_menu:hover {
  background-position: 0px 119px;

}

@media screen and (max-width: 900px) {

  $nav_item_width:55px;
  $nav_item_height:170px;
  $nav_item_hover_y: 80px;

  li.nav_logo {
    margin-top: 30px;
    width:auto;
    height:$nav_item_width;
  }

  li.nav_logo #logo_img {
    width:auto;
    height:$nav_item_width;
  }


  ul.navigation li.nav_rems {
    width: $nav_item_width;
    height: 70px;
    background-image: url("../images/menu_rems_SH.png");
    background-size: $nav_item_width $nav_item_height;
    -moz-background-size: $nav_item_width $nav_item_height;
    background-position: 0px 0px;

  }

  ul.navigation li.nav_register {
    width: $nav_item_width;
    height: 70px;
    background-image: url("../images/menu_register_sh.png");
    background-size: $nav_item_width $nav_item_height;
    -moz-background-size: $nav_item_width $nav_item_height;
    background-position: 0px 0px;
  }

  ul.navigation li.nav_menu {
    width: $nav_item_width;
    height: 70px;
    background-image: url("../images/menu_SH.png");
    background-size: $nav_item_width $nav_item_height;
    -moz-background-size: $nav_item_width $nav_item_height;
    background-position: 0px 0px;
  }


  ul li.nav_rems:hover {
    background-position: 0px $nav_item_hover_y;
  }

  ul li.nav_register:hover {
    background-position: 0px $nav_item_hover_y;
  }

  ul li.nav_menu:hover {
    background-position: 0px $nav_item_hover_y;

  }
}


/**************  main site popup menu desktop  **********/



#popup_main_menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 500px;
  overflow: hidden;
 background-image: url("../images/mainmenu_popup_sitemap_bg.png");
 background-size: 2048px 600px;
 background-repeat: no-repeat;
 // background-color: #5862a9;
  background-position: center top;
  top: 45px;
  padding-left: 0px;
  padding-right: 0px;
  z-index: 3000;
  margin: 0 auto;
  text-align: center;

  #popup_sitemap {
    width: 100%;
    height: 500px;
    max-width: 1024px;
    position: relative;
    display: inline-block;
   // background-color: #004444;
  }

  .close_btn {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    background-image: url("../images/mainmenu_close_btn.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
  }

}



#temp img {
  width: 350px;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  float: left;
  margin-left: 40%;
}

//  popup menu - sitemap  styles

#popup_main_menu_sitemap {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  top: 0;

  // background-color: #004444;
  width: 100%;
  max-width: 1024px;
  height: 500px;
  text-align: center;



  .close_btn {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 20px;
    background-image: url("../images/mainmenu_close_btn.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
  }

}

h1.sitemap_header {
  color: white;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

h1.sitemap_header:hover {
  color: #68b9cc;
}



#sitemap_links_wrapper {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: auto;
  margin-top: 70px;
}

#sitemap_col_1, #sitemap_col_2, #sitemap_col_3 {
  display: inline-block;
  width: 100%;
  height: auto;
  max-width: 200px;
  text-align: left;
  vertical-align: top;
  ul {
    list-style: none;
    margin:0;
    padding:0;
    li {
      color: white;
      margin: 0;
      cursor: pointer;
    }

    li:hover {
      color: #68b9cc;
    }
  }
}

#sitemap_col_1 {
  max-width: 250px;
}

#sitemap_col_3 {
  ul {
    list-style: none;

    margin-left: 0;
    padding-left: 0;
    li {
      margin: 0;
      margin-left: 10px;
      color: white;
      cursor: pointer;
    }

    li:hover {
      color: #68b9cc;

    }
  }

  span {
    color:white;
  }

  span:hover {
    color: #68b9cc;
  }

}


