// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import '_navigation';

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  font-weight: 100;
  font-family: 'Lato';
}

.container {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.content {
  text-align: center;
  display: inline-block;
}

.title {
  font-size: 96px;
}

li.nav {
  display: inline-block;
  cursor: pointer;
  cursor: hand;
}


$font-stack: Helvetica, sans-serif;



@mixin box_border($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}


.box2 { @include box_border(10px); }
